<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="style.css" rel="stylesheet"/>
    <script data-semver="1.2.21" src="../../angular.js"></script>
    <script>(function () {
        var app = angular.module('myApp', []);

        app.directive("firstDir", function () {
            return {
                restrict: 'E',
                controller: function ($scope) {
                    $scope.set = function () {
                        $scope.$emit('MY_NEW_SEARCH', $scope.searchQuery);
                    }
                },
                template: '<input type="text" ng-model="searchQuery"><button ng-click="set()">Change Value</button>'
            };
        });

        app.directive("secondDir", function () {
            return {
                restrict: 'E',
                scope: {}, // ********* ATTENTION: COMMENT OUT THIS LINE, AND IT WORKS *********
                controller: function ($scope) {
                    var _that = $scope;
                    $scope.$on('MY_NEW_SEARCH', function (e, data) {
                        _that.data = data;
                    });
                    $scope.data = 'init value';
                }
            };
        });
    })();</script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp">
<div>First Directive:
    <first-dir></first-dir>
</div>
<div>Second Directive:
    <second-dir><h3>{{data}}</h3></second-dir>
</div>
</body>
</html>