<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body ng-app="bindExample">

<!--ng-model is intended to be put inside of form elements and has two-way data binding ($scope -> view and view -> $scope)
        e.g. <input ng-model="val"/>.-->

<script>
    angular.module('bindExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.name = 'Whirled';
            }]);
</script>
<div ng-controller="ExampleController">
    <label>Enter name: <input type="text" ng-model="name"></label><br>
    Hello <span ng-bind="name"></span>!
</div>
</body>
</html>